---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { sanityClient } from "sanity:client";

const fetchProjects = await sanityClient.fetch(`*[_type=='blogPost'] | order(_createdAt desc)`)

console.log('fetchProjects',fetchProjects);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Marcelo!</h1>
			<ul class="flex flex-col gap-y-4">
				{fetchProjects.map((post: any) => (
					<li class="hover:underline">
					<a href={`/posts/${post.slug.current}`}>
						<h2 class="text-xl font-semibold">{post.title}</h2>
						<h4 class="text-xl font-semibold">{post.author}</h4>
						<p>{new Date(post._updatedAt).toLocaleDateString()}</p>
					</a>
					</li>
				))}
			</ul>
			<p>
				Welcome to the official 
			</p>
			<p>
				
			</p>
			<p>:</p>
			<ul>
				<li> <code></code></li>
				<li> <code></code></li>
				
			</ul>
			<p>
				
			</p>
			<p>
			
			</p>
		</main>
		<Footer />
	</body>
</html>
