---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { sanityClient } from "sanity:client";
import type { BlogPost } from '../Sanity';

const fetchProjects = await sanityClient.fetch(`*[_type=='blogPost'] | order(_createdAt desc)`)

console.log('fetchProjects',fetchProjects);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<main>
			<p>
				Welcome to my personal open journal
			</p>
			<p>
				something
			</p>
			<p>asdasd: daasdsda</p>
			<ul>
				<li>lemon squeezi</li>
				<li>asdasds <code>codess</code></li>
				<li> <code></code></li>
				
			</ul>
			<p>
				
			</p>
			<p>
			
			</p>	
			<ul class="flex flex-col gap-y-4">
				{fetchProjects.map((post: BlogPost) => (
					<li class="hover:underline">
					<a href={`/posts/${post.slug?.current}`}>
						<h2 class="text-xl font-semibold">{post.title}</h2>
						<p class="text-sm font-semibold">{post.author}</p>
						<p>{new Date(post._updatedAt).toLocaleDateString()}</p>
					</a>
					</li>
				))}
			</ul>
			
		</main>
		<Footer />
	</body>
</html>
