---
import { marked } from 'marked';
import { sanityClient } from "sanity:client";
import type { BlogPost } from '../../Sanity';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

export async function getStaticPaths() {
  const posts = await sanityClient.fetch(`*[_type == "blogPost"] | order(_createdAt desc)`);
  console.log('posts',posts);
  return posts.map((post: BlogPost) => ({
    params: { slug: post._id },
    props: { post },
  }));
}

const { post } = Astro.props as {post: BlogPost};
if (!post) {
  return Astro.redirect('/404');
}

const htmlContent = marked.parse(post.mdxContent || '');
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{post.title}</title>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header />
		 
		<main>
			<article >
				<h1>{post.title}</h1>
				<time datetime={post._createdAt}>{post._createdAt}</time>
				<div set:html={htmlContent} />
			</article>
		</main>
		<!-- Add Footer if needed -->
	</body>
</html>